header {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 22px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    z-index: 99;
}

header nav a{
    margin-left: 60px;
    color: white;
    font-size: 24px;
    transition: .3s;
}

header nav a:hover,
header nav .active{
    color: #f37800;
}