@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  background: linear-gradient(0deg, black 50%, rgb(196, 195, 187) 50%);
  /* background-image: url('./assets/background.png'); */
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  color: #fff;
}

